<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.demo.smartcity.mapper.SsWeeklySummaryMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  ss_weekly_summary 
		WHERE
			 owner_id = #{mainId} 	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.modules.demo.smartcity.entity.SsWeeklySummary">
		SELECT * 
		FROM  ss_weekly_summary
		WHERE
			 owner_id = #{mainId} 	</select>
</mapper>
